<div class="footer">
  <div class="footer-links">
    <a href="https://www.louvre.fr/"><i class="fa-solid fa-l"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  <%= link_to "Rent The Louvre", root_path, class:"navbar-title fs-3 text-white" %>
    <h5>This website is made with <i class="fas fa-heart"></i> by Cannelle, Nicolas & Marine.</h5>
  </div>
</div>
