<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "Rent The Louvre", root_path, class:"navbar-title" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
             <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "All Artworks", artworks_path, class: "dropdown-item" %>
              <%= link_to "Your Dashboard", bookings_path, class: "dropdown-item" %>
              <a class="dropdown-item" data-turbo-method="delete" href="/">Log out</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
