<div class = "banner-container">
  <h1 class = "banner-h1">Rent the art you could never afford</h1>

  <div class = "subtitle-background">
   <h2 class= "banner-h2">Would you like for a day or more La Joconde in your living room ? </h2>
  </div>
</div>

<div class = "cards-container">
  <div class="card-container">
     <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", alt: "#", width: 100 %>
    <div class="card-infos">
      <div>
        <p>Find the masterpiece you want to rent in a large collection of arts<p>
      </div>
    </div>
  </div>

  <div class="card-container">
     <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", alt: "#", width: 100 %>
    <div class="card-infos">
      <div>
        <p>Rent it  for a day or more<p>
      </div>
    </div>
  </div>

  <div class="card-container">
     <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", alt: "#", width: 100 %>
    <div class="card-infos">
      <div>
        <p>Exhibit it in your house, in the room of your choice<p>
      </div>
    </div>
  </div>

</div>
