<div class = "banner-container">
  <h1 class = "banner-h1">Mettez de l'art dans votre salon</h1>

  <div class = "subtitle-background">
   <h2 class= "banner-h2">Louez une pièce d’art de la collection privée du Louvre</h2>
  </div>
</div>

<div class = "cards-container">
  <div class="card-container">
     <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", alt: "#", width: 100 %>
    <div class="card-infos">
      <div>
        <p>Find the art<p>
      </div>
    </div>
  </div>

  <div class="card-container">
     <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", alt: "#", width: 100 %>
    <div class="card-infos">
      <div>
        <p>En quelques clics, louez l’oeuvre de vos rêves pour un journée ou plus<p>
      </div>
    </div>
  </div>

  <div class="card-container">
     <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", alt: "#", width: 100 %>
    <div class="card-infos">
      <div>
        <p>Exposez-la chez vous, dans la pièce de votre choix<p>
      </div>
    </div>
  </div>

</div>
