
.banner-container {
background-color: #505095;
height: 300px;


  .banner-h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    padding : 50px;
  }

}

.banner-h2 {
  color : black;
  font-size: 2rem;
  text-align: center;
  align-items: center;
}
.subtitle-background {
    background-color: white;

}
