.btn-banner {
  font-family: 'Rowton-Hairlite';
  font-size: 1.8em;
  text-align: center;
  margin: 0 25%;
  font-weight: bold;
  background-color: white;
  color: #505095;
  padding: 0.6em;
  border-radius: 3px;
  &:hover {
    color:white!important;
    background-color: #505095;
  }
  }

.btn-reverse {
  font-family: 'Rowton-Hairlite';
  font-size: 1.8em;
  text-align: center;
  margin: 0 25%;
  font-weight: bold;
  background-color: white;
  color: #505095;
  &:hover {
    color:white!important;
  }
  }

  .btn-modal {
    &:hover {
      background-color:white;
      color: #505095;

    }
  }

.btn-sticky-bottom {
  position: fixed;
  left: 50%;
  bottom: 20px;
}