.btn-primary {
  background-color: white;
  color: #505050;
}

.btn-banner {
  color: #505095;
  letter-spacing: 0.10em;
  font-family: 'Rowton-Hairlite';
  font-size: 1.6em;
  // padding: 8px;
  text-align: center;
  margin: 0 25%;

}
