.btn-banner {
  font-family: 'Rowton-Hairlite';
  font-size: 1.8em;
  text-align: center;
  margin: 0 25%;
  font-weight: bold;
  background-color: white;
  color: #505095;
  &:hover {
    color:white!important;
  }
  }
