.card-container {
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card-container > img {
  height: 25em;
  object-fit: cover;
  width: 100%;
}

.card-container p {
  font-size: 1.3em;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.2 em;
  line-height: 0.2 em;
  // margin: 5px;
  // padding : 20px 15px 5px 15px;
}

// .cards-container {
//   display : flex;
//   flex-direction: row;
//   justify-content: space-around;
//   flex-wrap: wrap;
//   // margin-left: 10%;
//   // margin-right: 10%;
//   // margin-top : 50px;
// }
